<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- .navbar -->
    <nav class="navbar navbar-light navbar-fixed-top">
      <div class="container-fluid">
        <!-- .navbar-header -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <span class="fa fa-smile-o"></span>
            My Assignment
          </a>
        </div>
        <!-- /.navbar-header -->
        <!-- .navbar-collapse -->
        <div class="collapse navbar-collapse navbar-right" id="main-menu">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">
                <span class="fa fa-home"></span>
                Home
                <span class="sr-only">
                  (current)
                </span>
              </a>
            </li>
            <li>
              <a href="https://drive.google.com/open?id=1DPCeng-wHR6Qc3l4glUeH586Pg31rCUg" taarget="_blank">
                <span class="fa fa-file-text-o"></span>
                Resume
              </a>
            </li>
            <li>
              <a href="https://github.com/apalesujay/" target="_blank">
              <span class="fa fa-github"></span>
                GitHub
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Social
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="https://www.instagram.com/apale.sujay/">
                    <span class="fa fa-instagram"></span>
                    Instagram
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/sujayapale/">
                    <span class="fa fa-linkedin-square"></span>
                    Linkedin
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- /.navbar -->
  </div>
</div>