<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-header></app-header>
  <h1>
    My {{ title }}!
  </h1>
  <img width="200" alt="Angular Logo" src="../assets/images/logos/angular.png">
  <img width="200" alt="HTML Logo" src="../assets/images/logos/html5.png">
  <img width="200" alt="Bootstrap Logo" src="../assets/images/logos/bootstrap.png">
</div>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <app-get-input></app-get-input>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <app-show-output></app-show-output>
  </div>
</div>

